In [2]:
import numpy as np
import pandas as pd

In [4]:
labels =['a','b','c']
my_data =[10,20,30]
arr = np.array(my_data)
d ={'a':10,'b':20,'c':30}

In [5]:
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [6]:
pd.Series(data = my_data , index = labels)

a    10
b    20
c    30
dtype: int64

In [8]:
pd.Series(my_data,labels)

a    10
b    20
c    30
dtype: int64

In [10]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

In [11]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [12]:
pd.Series(labels)

0    a
1    b
2    c
dtype: object

In [13]:
ser1 = pd.Series([1,2,3,4],['USA','Germany','USSR','Japan'])

In [14]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [15]:
ser2 = pd.Series([1,2,5,4],['USA','Germany','Italy','Japan'])
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [16]:
ser1['USA']

1

In [17]:
ser3 =pd.Series(labels)
ser3

0    a
1    b
2    c
dtype: object

In [18]:
ser3[0]

'a'

In [19]:
ser1 + ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

In [20]:
# dataframes

In [21]:
from numpy.random import randn

In [22]:
np.random.seed(101)

In [23]:
df = pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [24]:
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [25]:
type(df['W'])

pandas.core.series.Series

In [26]:
type(df)

pandas.core.frame.DataFrame

In [29]:
df[['W','Z']]

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

In [32]:
df['New']= df['W'] +df['Y']

In [33]:
df

          W         X         Y         Z       New
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [36]:
df.drop('New',axis = 1,inplace = True)

In [37]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [38]:
df.drop('E')

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

In [39]:
df.shape

(5, 4)

In [40]:
# Rows

In [42]:
df.loc[['A']]

         W         X         Y         Z
A  2.70685  0.628133  0.907969  0.503826

In [44]:
df.loc[['A','D'],['W','Z']]

          W         Z
A  2.706850  0.503826
D  0.188695  0.955057

In [46]:
booldf = df > 0

In [47]:
df[booldf]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [48]:
df[df['W']> 0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [50]:
df[df['Z']< 0]

          W         X         Y         Z
C -2.018168  0.740122  0.528813 -0.589001

In [51]:
resultdf = df[df['W']> 0]
resultdf['X']

A    0.628133
B   -0.319318
D   -0.758872
E    1.978757
Name: X, dtype: float64

In [52]:
df[df['W']> 0]['X']

A    0.628133
B   -0.319318
D   -0.758872
E    1.978757
Name: X, dtype: float64

In [53]:
df[df['W']> 0][['Y','X']]

          Y         X
A  0.907969  0.628133
B -0.848077 -0.319318
D -0.933237 -0.758872
E  2.605967  1.978757

In [55]:
df[(df['W']> 0) | (df['Y']> 1)]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [57]:
df.reset_index()

  index         W         X         Y         Z
0     A  2.706850  0.628133  0.907969  0.503826
1     B  0.651118 -0.319318 -0.848077  0.605965
2     C -2.018168  0.740122  0.528813 -0.589001
3     D  0.188695 -0.758872 -0.933237  0.955057
4     E  0.190794  1.978757  2.605967  0.683509

In [59]:
newind = 'CA NY WY OR CO'.split()

In [60]:
newind

['CA', 'NY', 'WY', 'OR', 'CO']

In [62]:
df['State'] = newind

In [63]:
df

          W         X         Y         Z State
A  2.706850  0.628133  0.907969  0.503826    CA
B  0.651118 -0.319318 -0.848077  0.605965    NY
C -2.018168  0.740122  0.528813 -0.589001    WY
D  0.188695 -0.758872 -0.933237  0.955057    OR
E  0.190794  1.978757  2.605967  0.683509    CO

In [64]:
df.set_index('State')

              W         X         Y         Z
State
CA     2.706850  0.628133  0.907969  0.503826
NY     0.651118 -0.319318 -0.848077  0.605965
WY    -2.018168  0.740122  0.528813 -0.589001
OR     0.188695 -0.758872 -0.933237  0.955057
CO     0.190794  1.978757  2.605967  0.683509

ValueError: Shape of passed values is (6, 2), indices imply (4, 2)