# Data cleaning and wangling

In [1]:
import numpy as np
import pandas as pd
import requests

In [4]:
url_link ='https://finance.yahoo.com/quote/XRP-USD/history?p=XRP-USD'
r = requests.get(url_link,headers = {'User-Agent':'Mozilla/5.0(Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'})
read_html_pandas_data = pd.read_html(r.text)[0]
df = pd.DataFrame(read_html_pandas_data)

In [5]:
df

,Date,Open,High,Low,Close*,Adj Close**,Volume
0,"Jun 24, 2022",0.335937,0.383755,0.335937,0.376223,0.376223,1856585472
1,"Jun 23, 2022",0.322591,0.336076,0.322183,0.335531,0.335531,927324605
2,"Jun 22, 2022",0.328729,0.329060,0.319598,0.322585,0.322585,1064144662
3,"Jun 21, 2022",0.323284,0.336063,0.320152,0.328626,0.328626,1247582002
4,"Jun 20, 2022",0.326020,0.328047,0.314241,0.323346,0.323346,1187888833
...,...,...,...,...,...,...,...
96,"Mar 20, 2022",0.819379,0.820814,0.798249,0.806121,0.806121,1529598149
97,"Mar 19, 2022",0.798127,0.825233,0.793609,0.819373,0.819373,2046393370
98,"Mar 18, 2022",0.793451,0.799112,0.779351,0.798266,0.798266,1850743124
99,"Mar 17, 2022",0.793436,0.800568,0.784439,0.793503,0.793503,1862028805
100,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...

In [6]:
df.drop(100,axis = 0,inplace = True)

In [7]:
df

,Date,Open,High,Low,Close*,Adj Close**,Volume
0,"Jun 24, 2022",0.335937,0.383755,0.335937,0.376223,0.376223,1856585472
1,"Jun 23, 2022",0.322591,0.336076,0.322183,0.335531,0.335531,927324605
2,"Jun 22, 2022",0.328729,0.329060,0.319598,0.322585,0.322585,1064144662
3,"Jun 21, 2022",0.323284,0.336063,0.320152,0.328626,0.328626,1247582002
4,"Jun 20, 2022",0.326020,0.328047,0.314241,0.323346,0.323346,1187888833
...,...,...,...,...,...,...,...
95,"Mar 21, 2022",0.805963,0.851126,0.792160,0.838152,0.838152,2485293314
96,"Mar 20, 2022",0.819379,0.820814,0.798249,0.806121,0.806121,1529598149
97,"Mar 19, 2022",0.798127,0.825233,0.793609,0.819373,0.819373,2046393370
98,"Mar 18, 2022",0.793451,0.799112,0.779351,0.798266,0.798266,1850743124
99,"Mar 17, 2022",0.793436,0.800568,0.784439,0.793503,0.793503,1862028805

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         100 non-null    object
 1   Open         100 non-null    object
 2   High         100 non-null    object
 3   Low          100 non-null    object
 4   Close*       100 non-null    object
 5   Adj Close**  100 non-null    object
 6   Volume       100 non-null    object
dtypes: object(7)
memory usage: 6.2+ KB

In [10]:
df['Date'] = pd.to_datetime(df['Date'])

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         100 non-null    datetime64[ns]
 1   Open         100 non-null    object
 2   High         100 non-null    object
 3   Low          100 non-null    object
 4   Close*       100 non-null    object
 5   Adj Close**  100 non-null    object
 6   Volume       100 non-null    object
dtypes: datetime64[ns](1), object(6)
memory usage: 6.2+ KB

In [16]:
df[df['Date'] == pd.Timestamp(2022,3,25)]

         Date      Open      High       Low    Close* Adj Close**      Volume
91 2022-03-25  0.842968  0.844085  0.822874  0.825127    0.825127  1600059784

In [15]:
df[(df['Date'] >= pd.Timestamp(2022,3,17)) & (df['Date'] <= pd.Timestamp(2022,4,25))]

         Date      Open      High       Low    Close* Adj Close**      Volume
60 2022-04-25  0.698757  0.698940  0.648242  0.694426    0.694426  2377291271
61 2022-04-24  0.707487  0.711830  0.698025  0.698739    0.698739  1108217932
62 2022-04-23  0.719144  0.724669  0.707360  0.707705    0.707705  1332520641
63 2022-04-22  0.733160  0.738162  0.716461  0.719194    0.719194  1881203798
64 2022-04-21  0.752177  0.764762  0.725026  0.733178    0.733178  1990297103
65 2022-04-20  0.775055  0.775055  0.744376  0.752178    0.752178  1798898557
66 2022-04-19  0.768042  0.780191  0.759961  0.775063    0.775063  1834225828
67 2022-04-18  0.753187  0.768194  0.732360  0.768017    0.768017  2134418883
68 2022-04-17  0.781792  0.784408  0.750553  0.753154    0.753154  1350930297
69 2022-04-16  0.785653  0.797129  0.769219  0.781841    0.781841  1526957904
70 2022-04-15  0.726796  0.793680  0.726617  0.785675    0.785675  2897060464
71 2022-04-14  0.723738  0.740155  0.710586  0.726819    0.726819  1716488200
72 2022-04-13  0.716512  0.724759  0.703998  0.723850    0.723850  1678860044
73 2022-04-12  0.695169  0.721592  0.694275  0.716614    0.716614  1990027592
74 2022-04-11  0.756422  0.756422  0.685738  0.695023    0.695023  2367700413
75 2022-04-10  0.763604  0.772466  0.755181  0.756614    0.756614  1046936968
76 2022-04-09  0.754041  0.766062  0.754041  0.763585    0.763585  1008306245
77 2022-04-08  0.787997  0.792985  0.750893  0.754056    0.754056  1684019539
78 2022-04-07  0.761361  0.789484  0.758114  0.788000    0.788000  1628783831
79 2022-04-06  0.817627  0.818405  0.761285  0.761314    0.761314  2527126540
80 2022-04-05  0.827227  0.833287  0.817110  0.817642    0.817642  1548706718
81 2022-04-04  0.842923  0.842952  0.810890  0.827251    0.827251  1876069127
82 2022-04-03  0.824891  0.850154  0.817265  0.842950    0.842950  1348476817
83 2022-04-02  0.827735  0.848600  0.824828  0.824919    0.824919  1624227101
84 2022-04-01  0.814709  0.833678  0.810256  0.827740    0.827740  2091887103
85 2022-03-31  0.860880  0.870866  0.803881  0.814564    0.814564  2611691934
86 2022-03-30  0.857942  0.871279  0.849425  0.860814    0.860814  1832671641
87 2022-03-29  0.863089  0.884441  0.848861  0.858000    0.858000  2120020042
88 2022-03-28  0.857408  0.908086  0.855211  0.863304    0.863304  3205464277
89 2022-03-27  0.832815  0.857376  0.830339  0.857343    0.857343  1505124770
90 2022-03-26  0.825153  0.834307  0.822325  0.832772    0.832772  1056420320
91 2022-03-25  0.842968  0.844085  0.822874  0.825127    0.825127  1600059784
92 2022-03-24  0.837857  0.849328  0.829627  0.842968    0.842968  2278978187
93 2022-03-23  0.837134  0.844146  0.820573  0.837887    0.837887  2076377569
94 2022-03-22  0.838035  0.862926  0.829988  0.837097    0.837097  2370573276
95 2022-03-21  0.805963  0.851126  0.792160  0.838152    0.838152  2485293314
96 2022-03-20  0.819379  0.820814  0.798249  0.806121    0.806121  1529598149
97 2022-03-19  0.798127  0.825233  0.793609  0.819373    0.819373  2046393370
98 2022-03-18  0.793451  0.799112  0.779351  0.798266    0.798266  1850743124
99 2022-03-17  0.793436  0.800568  0.784439  0.793503    0.793503  1862028805

In [21]:
df[(df['Date'] >= pd.Timestamp(2022,3,17)) & (df['Date'] <= pd.Timestamp(2022,4,25)) & (df['Open']<0.84)]

         Date      Open      High       Low    Close*  Adj Close**      Volume
60 2022-04-25  0.698757  0.698940  0.648242  0.694426     0.694426  2377291271
61 2022-04-24  0.707487  0.711830  0.698025  0.698739     0.698739  1108217932
62 2022-04-23  0.719144  0.724669  0.707360  0.707705     0.707705  1332520641
63 2022-04-22  0.733160  0.738162  0.716461  0.719194     0.719194  1881203798
64 2022-04-21  0.752177  0.764762  0.725026  0.733178     0.733178  1990297103
65 2022-04-20  0.775055  0.775055  0.744376  0.752178     0.752178  1798898557
66 2022-04-19  0.768042  0.780191  0.759961  0.775063     0.775063  1834225828
67 2022-04-18  0.753187  0.768194  0.732360  0.768017     0.768017  2134418883
68 2022-04-17  0.781792  0.784408  0.750553  0.753154     0.753154  1350930297
69 2022-04-16  0.785653  0.797129  0.769219  0.781841     0.781841  1526957904
70 2022-04-15  0.726796  0.793680  0.726617  0.785675     0.785675  2897060464
71 2022-04-14  0.723738  0.740155  0.710586  0.726819     0.726819  1716488200
72 2022-04-13  0.716512  0.724759  0.703998  0.723850     0.723850  1678860044
73 2022-04-12  0.695169  0.721592  0.694275  0.716614     0.716614  1990027592
74 2022-04-11  0.756422  0.756422  0.685738  0.695023     0.695023  2367700413
75 2022-04-10  0.763604  0.772466  0.755181  0.756614     0.756614  1046936968
76 2022-04-09  0.754041  0.766062  0.754041  0.763585     0.763585  1008306245
77 2022-04-08  0.787997  0.792985  0.750893  0.754056     0.754056  1684019539
78 2022-04-07  0.761361  0.789484  0.758114  0.788000     0.788000  1628783831
79 2022-04-06  0.817627  0.818405  0.761285  0.761314     0.761314  2527126540
80 2022-04-05  0.827227  0.833287  0.817110  0.817642     0.817642  1548706718
82 2022-04-03  0.824891  0.850154  0.817265  0.842950     0.842950  1348476817
83 2022-04-02  0.827735  0.848600  0.824828  0.824919     0.824919  1624227101
84 2022-04-01  0.814709  0.833678  0.810256  0.827740     0.827740  2091887103
89 2022-03-27  0.832815  0.857376  0.830339  0.857343     0.857343  1505124770
90 2022-03-26  0.825153  0.834307  0.822325  0.832772     0.832772  1056420320
92 2022-03-24  0.837857  0.849328  0.829627  0.842968     0.842968  2278978187
93 2022-03-23  0.837134  0.844146  0.820573  0.837887     0.837887  2076377569
94 2022-03-22  0.838035  0.862926  0.829988  0.837097     0.837097  2370573276
95 2022-03-21  0.805963  0.851126  0.792160  0.838152     0.838152  2485293314
96 2022-03-20  0.819379  0.820814  0.798249  0.806121     0.806121  1529598149
97 2022-03-19  0.798127  0.825233  0.793609  0.819373     0.819373  2046393370
98 2022-03-18  0.793451  0.799112  0.779351  0.798266     0.798266  1850743124
99 2022-03-17  0.793436  0.800568  0.784439  0.793503     0.793503  1862028805

In [19]:
col = ['Open','High', 'Low', 'Close*', 'Adj Close**', 'Volume']
for c in col:
    df[c] = pd.to_numeric(df[c])

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         100 non-null    datetime64[ns]
 1   Open         100 non-null    float64
 2   High         100 non-null    float64
 3   Low          100 non-null    float64
 4   Close*       100 non-null    float64
 5   Adj Close**  100 non-null    float64
 6   Volume       100 non-null    int64
dtypes: datetime64[ns](1), float64(5), int64(1)
memory usage: 6.2 KB

In [22]:
df.to_csv('XRPDATA.csv',index = False)

In [23]:
df.to_excel('XRPDATA.xlsx',index = False,sheet_name = 'XRP')

In [25]:
with pd.ExcelWriter('XRPDATA2.xlsx', engine = 'xlsxwriter')as writer:
    df[(df['Date']<= pd.Timestamp(2022,3,17)) & (df['Date']<= pd.Timestamp(2022,3,31)) ].to_excel(writer,sheet_name = 'MAR', engine = 'xlsxwriter', index = False)
    df[(df['Date']<= pd.Timestamp(2022,4,1)) & (df['Date']<= pd.Timestamp(2022,4,30)) ].to_excel(writer,sheet_name = 'APR', engine = 'xlsxwriter', index = False)